@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

body {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    margin: 0px;
    background: url(http://www.csszengarden.com/214/bamboo.png) fixed;
}

span {
    text-decoration: underline dotted;
}

p {
    font-size: 13.4px;
    line-height: 2;
    margin: 0px;
}

/*   Heading   */

.heading-row {
    background: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/noise.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/huntington.jpg);
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    border-top: 10px solid rgba(19, 67, 71, 0.9);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading img {
    margin-top: 20px;
    height: 50px;
    width: 50px;
}

.heading h1 {
    font-size: 28px;
    font-family: "Julius Sans One", sans-serif;
    padding: 0px 37.5px 5px;
    color: rgba(255, 255, 255, 0.952);
    margin-top: 15px;
    margin-bottom: 2px;
}

.heading h3 {
    color: rgba(255,255,255,0.6);
    margin-top: 2px;
    margin-bottom: 24px;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.right-heading {
    display: none;
}

/*   Designs Slider   */

.designs-slider {
    color: #ffffffa6;
    font-family: "Julius Sans One", sans-serif;
    font-size: 16px;
    background-color: rgba(190, 190, 190, 0.329);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color 500ms;
}

.arrows {
    font-family: 'verdemoderna';
    font-size: 44px;
    line-height: 70px;
    transition: font-size 300ms;
}

.designs-slider:hover {
    background-color: rgba(255, 255, 255, 0.192);
    cursor: pointer;
}

.arrows:hover {
    color: white;
}

/*   Main Paragraphs   */

.enlightenment-about-section, .participation-benefits-section, .requirements-section {
    background-color: white;
    padding: 30px 35px;
}

.enlightenment-about-section a, .participation-benefits-section a, .requirements-section a {
    color: #0d8ba1;
    text-decoration: none;
}

.enlightenment-about-section a:hover, .participation-benefits-section a:hover, .requirements-section a:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    color: #2e484c
}

.top-h2 {
    margin-top: 0px;
}

.download-section {
    font-size: 13.4px;
    line-height: 2;
    margin: 0px;
    display: none;
}

.html-file:hover *, .html-file:hover, .css-file:hover *, .css-file:hover {
    background-color: #3d8a9f;
    border-radius: 1px;
    color: white;
}

.participation-benefits-section {
    background-color: rgba(138, 188, 159, 0.459);
}

/*   Zen Garden Info  */

.zen-garden-info {
    background-image: url(http://www.csszengarden.com/214/contours@2x.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/noise.png), url(http://www.csszengarden.com/214/koi.jpg);
    background-size: 50% auto, auto, auto, cover;
    background-size: cover;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 30px 20px;
}

.zen-garden-info p {
    font-size: 22px;
}

.zen-garden-info a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.zen-garden-info a:hover {
    text-decoration: underline;
}

/*   Icons   */

.icons-section {
    font-family: 'verdemoderna';
    font-size: 44px;
    line-height: 70px;
    background-color: #134347;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 24px;
}

.icons-section a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    font-size: 36px;
    transition: all 500ms;
    border-radius: 100%;
}

.icons-section a:hover {
    opacity: 80%;
}

.html-icon::before {content: "5"}
.html-icon:hover::before {content: "%"}
.css-icon::before {content: "3"}
.css-icon:hover::before {content: "#"}
.cc-icon::before {content: "c"}
.cc-icon:hover::before {content: "C"}
.ally-icon::before {content: "a"}
.ally-icon:hover::before {content: "A"}
.git-icon::before {content: "g"}
.git-icon:hover::before {content: "G"}


/*   Designs List   */

.designs-list {
    background-color: #edf4f0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.design-item{
    padding: 10px 15px;
    border-bottom: 0.2px solid rgba(128, 128, 128, 0.26);
}

.design-title{
    color: #607476;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
    text-decoration: none;
    transition: color 400ms;
}

.designer {
    font-size: 12px;
    font-style: italic;
    color: rgba(156, 156, 156, 0.815);
}

.designer a {
    text-decoration: none;
    color: #616857;
    font-style: normal;
    transition: color 400ms;
}

/*   Nav List   */

.nav-list {
    background-color: rgba(90, 153, 116, 0.39);
    color: #607476;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav-list a {
    text-decoration: none;
    color: #607476;
    border-bottom: 0.2px solid rgba(128, 128, 128, 0.26);
    padding: 10px 15px;
    padding-right: 15px;
    transition: color 400ms;
}

.nav-list a:last-child {
    border-bottom: none;
}

.design-title:hover, .designer a:hover, .nav-list a:hover {
    color: #49968e;
}

@media only screen and (min-width: 500px){
    .heading {
        flex-direction: row;
        justify-content: center;
    }

    .heading-container {
        margin-top: 30px;
    }

    .heading-image {
        margin-top: 5px;
    }

    .icons-section a{
        font-size: 48px;
        margin: 10px 10px;
    }

    .design-item, .nav-list a  {
        padding: 20px 30px;
    }
}

@media only screen and (min-width: 600px){

    .heading h1 {
        font-size: 36px;
    }

    .heading img {
        height: 80px;
        width: 80px;
    }

    .download-section {
        display: block;
    }

    .download-section * {
        transition: background-color 500ms, color 300ms;
    }

    .download-section a {
        font-family: 'Julius Sans One', sans-serif;
        font-size: 13.5px;
        color: #809b7e;
        padding: 5px;
    }


    .download-section span {
        font-family: 'verdemoderna';
        text-decoration: none;
        background-color: #d9e1cd;
        padding: 3px;
        border-radius: 2px;
    }

    .enlightenment-about-section, .participation-benefits-section, .requirements-section {
        padding: 30px 55px;
    }

    .zen-garden-info {
        padding: 30px 50px;
    }
}

@media only screen and (min-width: 900px){
    .enlightenment-about-section, .participation-benefits-section, .requirements-section {
        padding: 30px 75px;
    }

    .design-item, .nav-list a  {
        padding: 20px 70px;
    }
}

@media only screen and (min-width: 1130px){

    .main {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
    }

    p, .download-section {
        font-size: 16px;
        padding-right: 35px;
        padding-left: 35px;
    }

    .small-screen-slider {
        display: none;
    }

    .heading {
        padding: 80px;
    }

    .heading img {
        height: 120px;
        width: 120px;
    }

    .right-heading {
        background-color: rgba(19, 67, 71, 0.274);
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .download-section {
        margin-top: 10px;
    }

    .heading-row {
        display: flex;
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    .heading h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 28.8px;
        padding-left: 35px;
    }

    .enlightenment-about-section, .participation-benefits-section, .requirements-section {
        grid-column: 1 / 3;
    }

    .right-requirements {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        background-color: #edf4f0;
    }

    .designs-slider {
        background-color: rgba(190, 190, 190, 0.13);
        width: 70%;
    }

    .designs-list {
        display: block;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        padding: 60px 90px 60px 60px;
    }

    .design-item {
        padding: 0px 0px 30px 0px;
        margin-bottom: 30px;
        border-bottom: none;
    }

    .design-title {
        display: block;
        margin-bottom: 5px;
        font-size: 19px;
    }
    .designer {
        font-size: 14.5px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        padding-left: 60px;
        padding-right: 100px;
        padding-top: 80px;
    }

    .nav-list a {
        font-size: 19px;
        padding-left: 0px;
        margin: 5px;
    }

    .nav-list a:first-child {
        border-top: 0.2px solid rgba(128, 128, 128, 0.26);
    }

    .zen-garden-info, .icons-section {
        grid-column: 1 / 4;
    }

    .zen-garden-info p{
        font-size: 32px;
        padding: 50px;
    }

    .icons-section a{
        font-size: 72px;
    }
}


/*   Icon Fonts   */
@font-face {
	font-family: 'verdemoderna';
	src:url('verdemoderna.eot');
	src:url('verdemoderna.eot?#iefix') format('embedded-opentype'),
		url('verdemoderna.woff') format('woff'),
		url('verdemoderna.ttf') format('truetype'),
		url('verdemoderna.svg#verdemoderna') format('svg');
	font-weight: normal;
	font-style: normal;
}  


