.badge-form {
    box-sizing: 0;
    background-color: #05DBF2;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 12px solid #F24B78;
    border-radius: 4px;
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-fields {
    display: grid;
    column-gap: 10px;
    row-gap: 6px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.badge-form label {
    color: white;
    font-weight: bold;
    margin: 4px;
    display: flex;
    justify-content: space-between;

}

.badge-form input, .badge-form textarea {
    border: none;
    width: 120px;
    margin-left: 4px;
    padding: 3px;
    border-radius: 4px;
}

.badge-form textarea {
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    grid-column: 1 / 3;
    height: 100px;
}

.badge-form textarea {
    width: 76%;
}

.submit-button {
    color: #F24B78;
    border: 2px solid #F24B78;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px;
    background-color: white;
    width: 100px;
    margin: 20px;
    transition-duration: 200ms;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #f24b78;
    color: white;
}