
.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(175, 21, 21);
    border-radius: 4px;
    border-top-right-radius: 0;
    width: 24em;
    height: 13em;
    background-color: rgb(235, 86, 86);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-container input {
    margin: 4px 0;
}

.tab-btns {
    position: absolute;
    top: -22px;
    right: -2px;
}

.tab-btn {
    font-size: 16px;
    background-color: transparent;
    border-top: 2px solid rgb(175, 21, 21);
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    cursor: pointer;
}

.tab-btn:first-child {
    border-left: 2px solid rgb(175, 21, 21);
    border-top-left-radius: 4px;
}

.tab-btn:last-child {
    border-right: 2px solid rgb(175, 21, 21);
    border-top-right-radius: 4px;
}

.form-err-message {
    position: absolute;
    text-transform: lowercase;
    font-size: 12px;
    bottom: 6px;
    right: 90px;
    border-radius: 3px;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 4px;
}
