* {
    font-family:'Trebuchet MS', Arial, sans-serif;
    user-select: none;
}

h1 {
    text-align: center;
    font-size: 80px;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.click-display {
    font-size: 150px;
}

.time-display {
    font-size: 50px;
}

button {
    width: 160px;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(87, 38, 221);
    display: none;
}

button:hover {
    cursor: pointer;
}