.Navbar {
    margin: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Navbar button {
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    margin: 0;
    text-decoration: none;
}

.Navbar button:nth-child(2) {
    border: 2px solid black;
    padding: 4px;
}

.Navbar button:nth-child(2):hover {
    cursor: pointer;
}

.Navbar button:last-child {
    background-image: url('../images/shopping-cart.png');
    background-size: cover;
    width: 25px;
    height: 25px;
}