@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Stick+No+Bills&display=swap');

* {
    font-family: 'Oswald', 'sans-serif';
    color: rgb(0, 0, 0);
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 2px black solid;
    margin-bottom: 20px;
}

.nav-bar a {
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

/* Shop */
.main-container {
    display: flex;
    text-align: center;
}

.col {
    margin-right: 10px;
    margin-left: 10px;
}

/* About */

.about-container {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.about-container img {
    width: 100%;
}

.row {
    border: 1px gray solid;
    padding-top: 20px;
    margin-bottom: 20px;
}

.row img{
    width: 80%;
}

.col span {
    color: purple;
}

p {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 30px;
    text-align: left;
}

/* Athletes */
.athlete-container h3 {
    text-align: center;
} 

.athlete{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: 50% 20%;
    margin-bottom: 20px;
}

.athlete:nth-child(2) {
    background-image: url('https://images.unsplash.com/photo-1434993568367-36f24aa04d2f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNrYXRpbmclMjBwb29sfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
}

.athlete:nth-child(4) {
    background-image: url('https://images.unsplash.com/photo-1547447546-526c3f7462aa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHNrYXRpbmclMjBwb29sfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
}

.athlete:nth-child(6) {
    background-image: url('https://images.unsplash.com/photo-1520040744814-13b3fe3478ba?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2thdGluZyUyMHBvb2x8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
}


/* Shop/About/Athletes */
.footer {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.footer a {
    text-transform: uppercase;
    text-decoration: none;
}

.footer img{
    margin-left: 10px;
    position: relative;
    top: 2px;
    height: 20px;
}

/* Ipad */
@media only screen and (min-width: 420px) {


    .nav-bar a {
        font-size: 35px;
    }
    .about-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .about-container h2 {
        font-size: 40px;
    }

    .about-container p {
        font-size: 25px;
        line-height: 40px;
    }

    .athlete-container h3 {
        font-size: 30px;
    }

    .athlete {
        height: 500px;
    }
}

/* Web */
@media only screen and (min-width: 1020px) {

    .about-container h2 {
        font-size: 60px;
    }

    .about-container p {
        font-size: 35px;
        line-height: 50px;
    }

    .athlete-container h3 {
        font-size: 40px;
    }

    .athlete {
        height: 800px;
        background-position: 50% 20%;
    }
}